{% extends 'master.html' %}
{% block body %}
{% if warning %}
<div class="alert alert-primary" role="alert">
  {{warning}}
</div>
{% endif %}
<div style="margin:12%;" class="d-flex justify-content-center">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class=form-group>
    <label>Username : </label>
      <input type="text" name="username">
    </div>
    <div class=form-group>
    <label>Excel File : </label>
    <input type="file" name="myfile">
    </div>
    <button type="submit">Submit</button>
    {% if uploaded_file_url %}
      <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}
  </form>
</div>


{% endblock %}
