{% extends 'master.html' %}
{% block body %}
{% if warning %}
<div class="alert alert-primary" role="alert">
  {{warning}}
</div>
{% endif %}
<div style="margin:12%;" class="d-flex justify-content-center">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class=form-group>
    <label>Username : </label>
      <input type="text" name="username">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
{% if data %}
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.phone}}</td>
    <tr>
    {% endfor %}
  </tbody>
{% endif %}
</table>
</div>

{% endblock %}
